$primary: #fa5619;
$success: #11ad66;
$info: #17a2b8;
$warning: #fa9819;
$danger: #de1656;
$orange-light: #fcefeb;

$white: #fff;
$gray-100: #f8f9fa;
$gray-300: #f5f5f8;
$gray-400: #d4d4d4;
$gray-500: #ccc;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #333;
$black: #000;