:local(.navbar) {
  .navbar {
    min-height: $navbar-height;
  }

  .dropdown-item {
    padding-top: 9px;
    padding-bottom: 9px;
  }

  li>a,
  li>button {
    padding-top: 13px;
    height: $navbar-height;
  }

  li>a:hover {
    background-color: darken($primary, 10%);
  }

  .dropdown-toggle:active,
  .open .dropdown-toggle {
    background-color: darken($primary, 10%);
  }

  .margin-lock {
    margin-right: 25px;
  }

  .navbar-collapse.show {
    max-height: 400px;
    overflow-y: scroll;
  }
}